/* CSS for faq.html */

body {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: 'Arial';
}
.site-content {
  border-top: 1px dotted #dee0e0;
  margin-bottom: 15px;
}
/* Footer of page */
.footer {
  display: flex;
  flex-direction: column;
  border-top: 1px dotted #dee0e0;
  padding: 10px;
  font-size: 15px;
  text-align: center;
}
/* Header container for navigation buttons and site title */
.header{
  display: flex;
  flex-direction: row;
  width: 100%;
}
/* Right part of header containing site title */
.header-right {
  margin-top: 2%;
  margin-left: auto;
  margin-right: 2%;
}
/* Header buttons */
.header-buttons {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  padding: 2px;
}
/* Icon for collapsible menu */
#menu-icon {
  position: relative;
  width: 40px;
  height: 40px;
  cursor: pointer;
  z-index: 100;
}
/* Collapsible menu */
.menu {
  display: none;
  transition: opacity 400ms ease 0s;
  transform: translate(0px, 0px);
  position: fixed;
  z-index: 99;
  right: 0;
  left: 0;
  height: 100%;
  max-width: 300px;
  width: auto;
  text-align: center;
  line-height: 35px;
  background-image: linear-gradient(
    90deg,
    rgba(222, 224, 224, 0.829),
    rgb(222, 224, 224),
    rgb(222, 224, 224),
    rgba(222, 224, 224, 0.829));
}
/* Close button for menu */
#close {
  position: relative;
  text-align: right;
  cursor: pointer;
}
/* List of items in menu */
#ham-list {
  color: rgb(19, 11, 3);
  list-style: none;
  padding: 20px;
  font-size: 25px;
  line-height: 40px;
}
/* Selected items from site menu */
.menu-selected {
  color:rgb(0, 153, 153);
  text-decoration: none;
 }
/* Unselected items from site menu */
.menu-unselected {
  color: rgb(19, 11, 3);
  text-decoration: none;
}
/* Hover over unselected items from site menu */
.menu-unselected:hover {
   color: rgb(0, 153, 153);
}
/* Site title */
.site-title {
  color: rgb(0, 102, 116);
  font-size: 20px;
  top: 0.5em;
  font-variant: small-caps;
  letter-spacing: 1px;
  text-decoration: none;
}
.site-title:hover{
  color: rgb(0, 153, 153);
}
/*Sub-title */
h2 {
  color:rgb(80, 138, 120);
  text-align: center;
  font-size: 30px;
  width: 100%;
  top: 0.5em;
  font-variant: small-caps;
  letter-spacing: 1px;
}
/* Container for FAQ questions and image */
.faq-container {
  display: flex;
  flex-direction: row;
}
/* Container for image */
.image-container {
  display: flex;
  flex-direction: column;
}
/* Image element */
.faq-image {
  width: auto;
  height: 250px;
  border-radius: 10px;
}
/* Text crediting source of image */
.image-source {
  text-align: center;
  font-size: 14px;
  color: rgb(102,109,109);
}
/* List of questions*/
li {
  list-style: none;
  font-style: italic;
  font-weight: bold;
  color: rgb(0, 102, 116);
}
/*Answers to list questions*/
p {
  margin-right: 5%;
}
