/* CSS for search-listings.html */

body {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: 'Arial';
}
.site-content {
  border-top: 1px dotted #dee0e0;
  margin-bottom: 45px;
}
/* Footer of page */
.footer {
  display: flex;
  flex-direction: column;
  border-top: 1px dotted #dee0e0;
  padding: 10px;
  font-size: 15px;
  text-align: center;
}
/* Header container for navigation buttons and site title */
.header{
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: white;
}
/* Right part of header containing site title */
.header-right {
  margin-top: 2%;
  margin-left: auto;
  margin-right: 2%;
}
/* Header buttons */
.header-buttons {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  padding: 2px;
}
/* Site title */
.site-title {
  color: rgb(0, 102, 116);
  font-size: 25px;
  top: 0.5em;
  font-variant: small-caps;
  letter-spacing: 1px;
  text-decoration: none;
}
.site-title:hover{
  color: rgb(0, 153, 153);
}
/* Icon for collapsible side menu */
#menu-icon {
  position: relative;
  width: 50px;
  height: 50px;
  cursor: pointer;
  z-index: 100;
}
/* Collapsible menu */
.menu {
  display: none;
  transition: opacity 400ms ease 0s;
  transform: translate(0px, 0px);
  position: fixed;
  z-index: 99;
  right: 0;
  left: 0;
  height: 100%;
  max-width: 300px;
  width: auto;
  text-align: center;
  line-height: 35px;
  background-image: linear-gradient(
    90deg,
    rgba(222, 224, 224, 0.829),
    rgb(222, 224, 224),
    rgb(222, 224, 224),
    rgba(222, 224, 224, 0.829));
}
/* Selected items from site menu */
.menu-selected {
  color:rgb(0, 153, 153);
  text-decoration: none;
 }
/* Unselected items from site menu */
.menu-unselected {
  color: rgb(19, 11, 3);
  text-decoration: none;
}
/* Hover over unselected items from site menu */
.menu-unselected:hover {
   color: rgb(0, 153, 153);
}
/* Close button for menu */
#close {
  position: relative;
  text-align: right;
  cursor: pointer;
}
/* List of items in menu */
#ham-list {
  color: rgb(19, 11, 3);
  list-style: none;
  padding: 20px;
  font-size: 25px;
  line-height: 40px;
}
/* Sub-title */
h2 {
  color:rgb(80, 138, 120);
  text-align: center;
  font-size: 35px;
  width: 100%;
  top: 0.5em;
  font-variant: small-caps;
  letter-spacing: 1px;
}
/* Contains the instructions, dropdowns, checkboxes and search button */
.selection-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: center;
}
/* Instructions at top of page */
.instructions {
  background-color: #dee0e0;
  max-width: 85%;
  padding: 10px;
}
/* Instructions title at top of page */
#instructions-title {
  font-variant: small-caps;
  font-size: 20px;
}
/* P elements in instructions section */
.instructions p {
  font-style: normal;
  margin: 0px;
}
/* List elements of instructions section */
.instructions li {
  list-style: inside;
  text-align: left;
}
li {
  list-style: none;
}
/* Example text within instruction list */
span {
  font-style: italic;
}
/* Select element of the dropdown buttons */
select {
  cursor: pointer;
}
/* Dropdown button containers for city and date */
.selection-dropdown {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  font-weight: bold;
  font-style: normal;
  font-size: 18px;
  color: rgb(53, 74, 73);
}
/* Dropdown buttons for selecting city and date */
#city-dropdown, #date-dropdown {
  margin-left: 15px;
  height: 35px;
  margin-top: 10px;
  font-size: 15px;
}
/* Hovering over city and date dropdown buttons */
#city-dropdown:hover, #date-dropdown:hover {
  box-shadow: 1px 1px 1px 1px rgba(0, 188, 212, 0.2);
}
/* Container for list of selecting/deselecting columns checkboxes */
#checkbox-list {
  text-align: left;
}
/* Checkboxes that user selects/deselects to display table columns */
.columns-checkbox {
  cursor: pointer;
}
/* Display border around checkbox list when user delects all checkboxes */
.error {
  border: 2px solid red;
  margin-right: 5px;
  margin-left: 5px;
}
/* Display error message when user deselects all checkboxes*/
#error-message {
  color: red;
  border: none;
}
/* Container for Search button */
.search-button-container {
  justify-content: center;
}
/* Search button */
#search-button {
  border: 1px solid #8f8f9d;
  border-radius: 3px;
  padding: 5px 15px 5px 15px;
  box-sizing: border-box;
  box-shadow: 5px 10px  #d5b75e;
  text-align:center;
  letter-spacing: 1px;
  cursor: pointer;
}
/* Hover over Search button */
#search-button:hover{
  box-shadow: 5px 10px #00bcd4;
}
/* Container for print section */
#print-container{
  margin-right: 15px;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  justify-content: flex-end;
}
/* Print button text */
.print {
  text-decoration: underline;
  cursor: pointer;
}
/* Icon for printing table */
#print-icon {
  width: 30px;
  height: 30px;
}
/* Container for table element */
.results-container {
  margin: 15px;
}
/* Table element that displays search results */
table {
  text-align: center;
}
/* Table header */
thead {
  background-color: #ddd;
  color: rgb(71, 73, 74);
  font-size: 15px;
  padding: 3px;
}
/* Container at bottom of table containing actionable buttons if user is logged in */
.table-buttons-container {
  display: flex;
  flex-direction: row;
  align-items: left;
  margin-right: auto;
}
/* Actionable button at bottom of table */
.table-button {
  margin-left: 5px;
  border: 1px solid #8f8f9d;
  border-radius: 3px;
  padding: 5px 15px 5px 15px;
  box-sizing: border-box;
  /*box-shadow: 5px 10px  #d5b75e;*/
  text-align: center;
  letter-spacing: 1px;
  cursor: pointer;
  box-shadow: 1px 1px 1px 1px rgba(213, 183, 94, 0.3);
}
/* Hover over actionable buttons at bottom of table */
.table-button:hover {
  box-shadow: 1px 1px 1px 1px rgba(0, 188, 212, 0.2);
}
/* Add Selected button at bottom of table */
#add-selected {
  box-shadow: 5px 10px  #d5b75e;
  /* background-color: rgba( 	213, 183, 94, 0.7); */
}
/* Hover over Add Selected button */
#add-selected:hover {
  box-shadow: 5px 10px #00bcd4;
}
/* Select All button at bottom of table */
#select-all {
  margin-left: 20px;
}
/*
tbody tr:nth-child(even){
    background-color: #f2f2f2;
}*/
.show {
  display: block;
}
.hide {
  display: none;
}


/* Modal styling obtained from the following source code:
 * Author: W3 Schools
 * Code: https://www.w3schools.com/howto/howto_css_modals.asp */
/* The Modal (background) */
.modal {
  position: fixed; /* Stay in place */
  z-index: 99; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 15px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  display: flex;
  flex-direction: column;
  text-align: center;
}
/* Container for buttons in the modal */
.modal-buttons-container {
  margin-top: 10px;
}
/* Modal buttons */
.modal-button {
  margin: 20px 20px 0px 20px;
  cursor: pointer;
  padding: 8px;
  letter-spacing: 1px;
  box-shadow: 1px 1px 1px 1px rgba(213, 183, 94, 0.3);
}
/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 25px;
  border: 1px solid #888;
  width: 400px; /* Could be more or less, depending on screen size */
  display: flex;
  flex-direction: column;
  text-align: center;
}
/* Hover over modal buttons */
.modal-button:hover {
  box-shadow: 1px 1px 1px 1px rgba(0, 188, 212, 0.2);
}
/* Font size in table */
.tablesorter-ice th,
.tablesorter-ice thead td {
 font:16px/18px Arial,Sans-serif !important;
}
/* Table columns */
.tablesorter-ice th {
  min-height: 65px;
  text-align: center;
}
/* Table rows */
.tablesorter-ice td {
  text-align: center;
}
/* Dropdown list selection in Add Selected modal */
#list-selector {
  font-size: 16px;
}
/* Go back icon when user is logged in */
#go-back-icon {
  transform: 180deg;
}
/* If screen size is less than 470px wide */
@media only screen and (max-width: 470px) {
  /* Modal Content/Box */
  .modal-content {
    padding: 15px;
    width: 250px;
  }
  /* Site title */
  .site-title {
    margin-right: 0px;
    font-size: 20px;
  }
}
/* Tablesorter plugin: match the margins set to the table to keep the border the same height as the table */
.using-ice-theme .tablesorter-scroller-fixed:after  {
  margin: 0;
}
/* Tablesorter table header and body */
.tablesorter-scroller-table, .tablesorter-scroller-header {
  max-width: 1144px !important;
}
/*
 * Workaround to make table cells the same width. Obtained from source code:
 * Author: Mottie
 * Code: https://stackoverflow.com/a/34277113
 */
.table-city, .table-listing, .table-sold, .table-diff-dollar, .table-diff-percent, .table-status {
  width: 90px;
  min-width: 90px;
  max-width: 90px;
}
.table-address, .table-date {
  width: 110px;
  min-width: 110px;
  max-width: 110px;
}
